@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --background: #f7f5f0;
  --primary: #68786d;
  --secondary: #b1ada4;
  --tertiary: #f7f5f0;
  --error: #f44336;
  --success: #8bc34a;
  --warning: #f7dc6f;
  --info: #2196f3;
}
.tooltip {
  transition: opacity 0.2s ease, transform 0.2s ease;
}

@font-face {
  font-family: 'avoda';
  src: url('../public/fonts/Avoda.ttf');
}